# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://postgres:randompassword@localhost:5432/livestream?schema=public
ACCESSTOKENCLOUD=312|XpS4bX0TGOCesP42zwwXOwY4Gus7i2PJn4BK7C80
GOOGLE_CLIENT_ID=1021811593879-a4f0h767bd6s13bt1ei910beqepp3qmc.apps.googleusercontent.com
GOOGLE_SECRET=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
CALLBACK_GOOGLE_URL=http://localhost:4000/api/v1/auth/google/callback
FACEBOOK_CLIENT_ID=1425041068343175
FACEBOOK_SECRET=ead916b4ab4fd6025df7ea88d4a29406
CALLBACK_FACEBOOK_URL=http://localhost:4000/api/v1/auth/facebook/callback
CLIENT_URL=http://localhost:5173
CLOUD_API_URL=https://helurl.com/api/v1
CLOUD_API_TOKEN=200|pn0pD3gjLoj1VtYJl0zAV3MZ0GWfrz3ejIwzJj3C